.flex-container-doi-requester {
  display: flex;
  align-items: center;
  margin-top: var(--cedar-space-6);
  float: right;
}

.flex-child1 {
  margin-bottom: var(--cedar-space-6);
}

.notify-container {
  position: relative;
}

.create-doi-button{
  padding: var(--cedar-space-2) var(--cedar-space-4);
  font-size: var(--cedar-font-size);
  font-weight: var(--cedar-font-weight-regular);
  margin: var(--cedar-space-4);
}

.notify-container .notify-progress,
.notify-container .notify-success,
.notify-container .notify-error {
  position: absolute;
  bottom: 100%;
  right: -300px;
  width: auto;
  white-space: nowrap;
  display: flex;
  pre{
    margin:0;
  }
}

.notify-container .notify-progress .close,
.notify-container .notify-success .close,
.notify-container .notify-error .close {
  margin-left: var(--cedar-space-1);
}

.notify-progress {
  margin-right: var(--cedar-space-2);
}
