<app-header title="Download Resource"></app-header>

<mat-card class="wrapper-title-card wrapper-bg">
  <mat-card-content class="flex-container">
    <h1>1) Quick Download</h1>
  </mat-card-content>
</mat-card>

<mat-card class="wrapper-card wrapper-bg">
  <mat-card-content class="flex-container">

    <mat-card class="wizard-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Quick Download JSON</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="imagePath + 'serialization-json-schema.png'" class="big-image">
      <mat-card-content>
        <p>Download the resource instantly with default settings.</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
          <button mat-button (click)="quickDownload('json')">Download</button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>

    <mat-card class="wizard-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Quick Download YAML</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="imagePath + 'serialization-yaml.png'" class="big-image">
      <mat-card-content>
        <p>Download the resource instantly with default settings.</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
          <button mat-button (click)="quickDownload('yaml')">Download</button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>

    <mat-card class="wizard-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Quick Download Compact YAML</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="imagePath + 'serialization-yaml-compact.png'" class="big-image">
      <mat-card-content>
        <p>Download the resource instantly with default settings.</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
          <button mat-button (click)="quickDownload('yamlc')">Download</button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>

  </mat-card-content>
</mat-card>
