<app-header title="Datacite Create Instance"></app-header>

<div class="draft-doi-container" *ngIf="draftDoi">
  <p class="draft-doi-label">A draft DOI exists: https://doi.org/{{draftDoi}}. Please continue editing your metadata based on this draft.</p>
</div>
<ng-container *ngIf="ceeConfig != null">
  <cedar-embeddable-editor
    [config]="ceeConfig"
    [templateObject]="template"
    [instanceObject]="existingDataCiteMetadata"
  ></cedar-embeddable-editor>
  <div class="button-container" [ngClass]="{'move-buttons-down': showError}">
    <app-doi-saver *ngIf="sourceArtifactId != null"
     [sourceArtifactId]="sourceArtifactId"
    ></app-doi-saver>
    <app-doi-requester *ngIf="sourceArtifactId != null"
      [sourceArtifactId]="sourceArtifactId"
    ></app-doi-requester>
    <app-cancel
      [operation]="operation">
    </app-cancel>
  </div>
</ng-container>
