<app-header title="Describe your artifact using this DataCite form to request a DOI"></app-header>

@if (draftDoi) {
  <div class="draft-doi-container">
    <p class="draft-doi-label">A draft DOI exists: https://doi.org/{{draftDoi}}. Please continue editing your metadata based on this draft.</p>
  </div>
}
@if (doiAlreadyExists) {
  <div class="error-doi-container">
    <p class="error-doi-label">A DOI already exists: <a href="{{existingDoi}}" target="_blank">{{existingDoi}}</a>. An artifact can only have one DOI.</p>
  </div>
}
@if (template !== null) {
  <cedar-embeddable-editor
    [config]="ceeConfig"
    [templateObject]="template"
    [instanceObject]="existingDataCiteMetadata"
  ></cedar-embeddable-editor>
  <div class="button-container" [ngClass]="{'move-buttons-down': showError}">
    @if (sourceArtifactId != null) {
      <app-doi-saver
        [sourceArtifactId]="sourceArtifactId"
      ></app-doi-saver>
    }
    @if (sourceArtifactId != null) {
      <app-doi-requester
        [sourceArtifactId]="sourceArtifactId"
      ></app-doi-requester>
    }
    <app-cancel
      [operation]="operation">
    </app-cancel>
  </div>
}
