@use "@org.metadatacenter/cedar-design-tokens/spacing";

.draft-doi-container {
  background-color: #d4edda;
  padding: var(--cedar-space-2);
  border-radius: 5px;
  margin-top: 20px;
  @include spacing.apply(margin-right, inset-status-panel);
  @include spacing.apply(margin-left, inset-status-panel);

  .draft-doi-label {
    font-size: 16px;
    color: #155724;
  }
}

.error-doi-container {
  background-color: #fc4c4c;
  padding: var(--cedar-space-2);
  border-radius: 5px;
  margin-top: 20px;
  @include spacing.apply(margin-right, inset-status-panel);
  @include spacing.apply(margin-left, inset-status-panel);

  .error-doi-label {
    font-size: 16px;
    color: #ffffff;

    a {
      color: #ffffff;
      font-weight: bold;
    }
  }
}

.move-buttons-down {
  transform: translateY(100px);
}
