<app-header title="Datacite Create Instance"></app-header>

<ng-container *ngIf="ceeConfig != null">
  <cedar-embeddable-editor
    [config]="ceeConfig"
    [templateObject]="template"
  ></cedar-embeddable-editor>
  <app-doi-saver *ngIf="sourceArtifactId != null"
    [sourceArtifactId]="sourceArtifactId"
  ></app-doi-saver>
  <app-doi-requester *ngIf="sourceArtifactId != null"
    [sourceArtifactId]="sourceArtifactId"
  ></app-doi-requester>
  <app-cancel
    [operation]="operation">
  </app-cancel>
</ng-container>
