.flex-container-doi-requester {
  display: flex;
  align-items: center;
  margin-top: 59px;
  margin-right: 30px;
  float: right;
}

.flex-child1 {
  margin-bottom: 50px;
}

.notify-container {
  position: relative;
}

.save-doi-button{
  padding: 8px 20px !important;
  font-size: 16px;
  font-weight: 400;
  margin: 20px;
}

.notify-container .notify-progress,
.notify-container .notify-success,
.notify-container .notify-error {
  position: absolute;
  bottom: 100%;
  right: -120px;
  width: auto;
  white-space: nowrap;
  display: flex;
}

.notify-container .notify-progress .close,
.notify-container .notify-success .close,
.notify-container .notify-error .close {
  margin-left: 5px;
  margin-top:0px !important;
}

.notify-progress {
  margin-right: 10px;
}

.close-left-top {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
