@use '@angular/material' as mat;

@include mat.core();

$download-primary: mat.define-palette((
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #e9e9e9, // Download background
  500: #fefefe, // Download box bg
  600: #E08022, // Download orange
  700: #e51616, // Download red
  800: #283593,
  900: #1a237e,
  A100: #8c9eff,
  A200: #ff0000,
  A400: #294444, // Download header
  A700: #247d8c, // Download button
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
));

$download-accent: mat.define-palette($download-primary, A200);
$download-warning: mat.define-palette($download-primary, A200);
$download-header: mat.define-palette($download-primary, A400);
$download-button: mat.define-palette($download-primary, A700);

$download-theme: mat.define-light-theme((
  color: (
    primary: $download-primary,
    accent: $download-accent,
    warn: $download-warning,
    header: $download-header
  )
));

@include mat.all-component-themes($download-theme);

.custom-header-toolbar {
  background-color: mat.get-color-from-palette($download-header);
  color: mat.get-color-from-palette($download-header, default-contrast);  // Ensures proper text color contrast
}
