.flex-container-doi-requester {
  display: flex;
  align-items: center;
  margin-top: var(--cedar-space-6);
  float: right;
}

.metadata-cancel-button {
  padding: var(--cedar-space-2) var(--cedar-space-6);
  font-size: var(--cedar-font-size);
  font-weight: var(--cedar-font-weight-regular);
  margin: var(--cedar-space-4);
}
